@use "./variables";

.biography-section {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 1165px;
    margin: 152px auto 148px auto;
    overflow: auto;

    &__image {
        order: 0;
    }

    &__title {
        order: 1;
        transform: rotateZ(270deg) translateX(-38%) translateY(-90%);
        height: fit-content;
    }

    &__card {
        order: 2;
        max-width: 455px;
        max-height: 850px;
        padding-top: 174px;
        padding-bottom: 174px;
    }

    &__name {
        font-family: "Playfair Display";
        font-size: 86px;
        font-weight: 500;
        line-height: 114.64px;
        word-spacing: 2rem;
        margin-bottom: 36px;
    }

    &__profession-wrp {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }

    &__profession {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
    }

    &__roles-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__role {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;

        &:not(:first-child)::before {
            content: " / ";
        }
    }

    &__card-separator {
        width: 15px;
        margin: 0;
        border: 3px solid black;
        margin-bottom: 18px;
    }

    &__quote {
        font-family: "Bitter";
        font-size: 26px;
        line-height: 31.2px;
        margin: 0;
        max-width: 370px;
    }

    &__quote-break {
        display: none;
    }
}

@media screen and (max-width: variables.$mobile-breakpoint) {
    .biography-section {
        flex-direction: column;
        margin: 80px auto;
        position: relative;

        &__title {
            transform: initial;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.09px;
            order: 1;
            position: absolute;
            right: 6%;
            top: 2px;
        }

        &__image {
            order: 3;
            height: 400px;
            object-fit: cover;
        }

        &__card {
            order: 2;
            padding-left: 18px;
            padding-right: 9px;
            padding-top: 0;
            padding-bottom: 0;
        
            display: flex;
            flex-direction: column;
        }

        &__name {
            order: 4;
            font-family: "Playfair Display";
            font-size: 64px;
            font-weight: 400;
            line-height: 85.31px;
            text-align: left;
            word-spacing: normal;

            &::before {
                content: "-";
            }
        }

        &__profession-wrp {
            order: 1;
            margin-bottom: 60px;
        }

        &__role {
            display: block;

            &:not(:first-child)::before {
                content: " - ";
            }
            
            &:first-child::before {
                content: " - ";
            }
        }

        &__card-separator {
            display: none;
        }

        &__quote {
            order: 2;
            font-family: Bitter;
            font-size: 30px;
            font-weight: 300;
            line-height: 36px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        
            margin-bottom: 50px;
            max-width: 417px;
        }

        &__quote-break {
            display: initial;
        }
    }
}