.header {
    padding: 16px 20px 16px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &__title {
        font-family: "Playfair Display";
        font-size: 86px;
        font-weight: 600;
        line-height: 103.2px;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .header {
        display: none;

        &__title {
            display: none;
        }
    }
}