@use "./variables";

.navigation {
    margin-top: 0px;
    position: absolute;
    top: 37px;
    right: 22px;
}

.navigation-menu {
    display: flex;
    gap: 55px;
    list-style-type: none;

    &__element {
        font-size: 24px;
        font-weight: 500;
        line-height: 28.13px;
    }
    
    &__link {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: variables.$mobile-breakpoint) {
    .navigation {
        margin-top: 80px;
        position: sticky;
        bottom: 0px;
        background-color: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .navigation-menu {
        margin-top: 17px;
        margin-bottom: 13px;
        gap: 16px;
        padding: 0 17px;
        justify-content: space-around;
        text-align: center;

        &__element {
            font-size: 0;
            flex: 1;

            &::first-letter {
                font-family: "Bitter";
                font-size: 40px;
                font-weight: 400;
                line-height: 48px;
                text-align: center;
            }
        }
    }
}