.strong-points-section {
    max-width: 1928px;
    margin: 0 auto;

    &__title {
        margin-left: 258px;
        margin-bottom: 30px;
    }
    
    &__wrp {
        display: grid;
        grid-template-columns: repeat(2, 335px) 451px repeat(2, 335px);
        grid-template-rows: 554px;
        gap: 20px;
        overflow-x: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    &__list-wrp {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }
    
    &__list-title {
        font-family: "Playfair Display";
        font-size: 86px;
        font-weight: 500;
        line-height: 86px;
    }
    
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 216px;
    }
    
    &__item {
        font-family: "Bitter";
        font-size: 34px;
        line-height: 40.8px;
        height: 1.241em;
    }
    
    &__img {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .strong-points-section {
        &__title {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.09px;
            margin-left: 16px;
        }
        
        &__wrp {
            grid-template-columns: 201px repeat(4, 310px);
            grid-template-rows: 450px;
            padding: 0 16px;
            gap: 18px;
        }
        
        &__list-wrp {
            grid-row: 1;
            gap: 24px;
        }
        
        &__list-title {
            font-family: Playfair Display;
            font-size: 46px;
            font-weight: 400;
            line-height: 46px;
        }
        
        &__list {
            width: 201px;
        }
        
        &__item {
            font-family: "Bitter";
            font-size: 24px;
            font-weight: 400;
            line-height: 28.8px;
            margin-bottom: 7.2px;
            padding-left: 15px;
        }
    }
}