@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    /* Default font settings*/
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.header-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 600;
    line-height: 103.2px;
}

.navigation-menu-element {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
}

.hero-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 103.2px;
    text-align: center;
}

.hero-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-align: center;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

.biography-name {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 114.64px;
}

.biography-profession {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
}

.biography-quote {
    font-family: "Bitter";
    font-size: 26px;
    line-height: 31.2px;
}

.designer-info>p {
    font-weight: 700;
}

.designer-info-from,
.designer-info-skills {
    font-weight: 400;
}

.case-list-item {
    font-weight: 700;
}

.case-list-item>a {
    font-weight: 400;
}

.testimonial-quote {
    font-family: "Bitter";
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
}

.strong-points-list-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 86px;
}

.strong-points-list-item {
    font-family: "Bitter";
    font-size: 34px;
    line-height: 40.8px;
}

.contact-info {
    line-height: 26px;
    font-style: normal;
}

.creator-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;
}

.footer-company-name {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: center;
}

.copyright {
    text-align: right;
}