@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    /* Default font settings*/
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

h2,
p {
    margin: 0;
}

section {
    margin-bottom: 150px;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

@media screen and (max-width: 450px) {
    section {
        margin-bottom: 80px;
    }
}

/* Header */
@import "./header/header";

/* Hero section */
@import "./hero-section";

/* Biography section*/
@import "./biography-section";

/* Designers section*/
@import "./designers-section";

/* Testimonials section  */
@import "./testimonials-section";

/* Strong points section */
#strong-points-section {
    max-width: 1928px;
    margin: 0 auto;
}

.strong-points-section-title {
    margin-left: 258px;
    margin-bottom: 30px;
}

.strong-points-wrp {
    display: grid;
    grid-template-columns: repeat(2, 335px) 451px repeat(2, 335px);
    grid-template-rows: 554px;
    gap: 20px;
    overflow-x: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.strong-points-list-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.strong-points-list-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 86px;
}

.strong-points-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 216px;
}

.strong-points-list-item {
    font-family: "Bitter";
    font-size: 34px;
    line-height: 40.8px;
    height: 1.241em;
}

.strong-points-img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 450px) {
    .strong-points-section-title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.09px;
        margin-left: 16px;
    }

    .strong-points-wrp {
        grid-template-columns: 201px repeat(4, 310px);
        grid-template-rows: 450px;
        padding: 0 16px;
        gap: 18px;
    }

    .strong-points-list-wrp {
        grid-row: 1;
        gap: 24px;
    }

    .strong-points-list-title {
        font-family: Playfair Display;
        font-size: 46px;
        font-weight: 400;
        line-height: 46px;
    }

    .strong-points-list {
        width: 201px;
    }

    .strong-points-list-item {
        font-family: "Bitter";
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        margin-bottom: 7.2px;
        padding-left: 15px;
    }
}

/* Navigation */
.navigation {
    margin-top: 0px;
    position: absolute;
    top: 37px;
    right: 22px;
}

.navigation-menu {
    display: flex;
    gap: 55px;
    list-style-type: none;
}

.navigation-menu-element {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
}

.navigation-link {
    color: black;
    text-decoration: none;
}

.navigation-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
    .navigation {
        margin-top: 80px;
        position: sticky;
        bottom: 0px;
        background-color: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .header-title {
        display: none;
    }

    .navigation-menu {
        margin-top: 17px;
        margin-bottom: 13px;
        gap: 16px;
        padding: 0 17px;
        justify-content: space-around;
        text-align: center;
    }

    .navigation-menu-element {
        font-size: 0;
        flex: 1;
    }

    .navigation-menu-element::first-letter {
        font-family: Bitter;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        text-align: center;
    }
}

/* Footer */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px 70px 20px;
    margin-top: 150px;
    gap: 20px;
}

.contact-info {
    line-height: 26px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 40px)
}

.contact-info>a {
    color: white;
}

.creator-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;
    width: calc(100% / 3 - 40px);
    align-self: center;
}

.footer-company-name {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: center;
    margin-left: 5px;
}

.copyright {
    text-align: right;
    width: calc(100% / 3 - 40px);
    margin-right: 4px;
    margin-bottom: 1px;
    align-self: center;
}

@media screen and (max-width: 450px) {
    footer {
        margin-top: 80px;
        padding: 43px 16px 70px 16px;
        flex-direction: column;
        gap: 3px;
    }

    .contact-info {
        order: 2;
        width: initial;
    }

    .creator-info {
        order: 1;
        width: initial;
        align-self: flex-end;
    }

    .copyright {
        order: 3;
        width: initial;
        align-self: flex-start;
        margin-top: 2px;
    }
}