@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    /* Default font settings*/
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

h2,
p {
    margin: 0;
}

section {
    margin-bottom: 150px;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
}

@media screen and (max-width: 450px) {
    section {
        margin-bottom: 80px;
    }
}

/* Header */
@import "./header/header";

/* Hero section */
@import "./hero-section";

/* Biography section*/
@import "./biography-section";

/* Designers section*/
@import "./designers-section";

/* Testimonials section  */
@import "./testimonials-section";

/* Strong points section */
@import "./strong-points-section";

/* Navigation */
@import "./navigation";

/* Footer */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 20px 70px 20px;
    margin-top: 150px;
    gap: 20px;
}

.contact-info {
    line-height: 26px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 40px)
}

.contact-info>a {
    color: white;
}

.creator-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;
    width: calc(100% / 3 - 40px);
    align-self: center;
}

.footer-company-name {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.13px;
    text-align: center;
    margin-left: 5px;
}

.copyright {
    text-align: right;
    width: calc(100% / 3 - 40px);
    margin-right: 4px;
    margin-bottom: 1px;
    align-self: center;
}

@media screen and (max-width: 450px) {
    footer {
        margin-top: 80px;
        padding: 43px 16px 70px 16px;
        flex-direction: column;
        gap: 3px;
    }

    .contact-info {
        order: 2;
        width: initial;
    }

    .creator-info {
        order: 1;
        width: initial;
        align-self: flex-end;
    }

    .copyright {
        order: 3;
        width: initial;
        align-self: flex-start;
        margin-top: 2px;
    }
}