.biography-section {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 1165px;
    margin: 152px auto 148px auto;
    overflow: auto;
}

@import "./biography-section__title";
@import "./biography-section__image";
@import "./biography-section__card";
@import "./biography-section__name";
@import "./biography-section__profession-wrp";
@import "./biography-section__profession";
@import "./biography-section__roles-list";
@import "./biography-section__role";
@import "./biography-section__card-separator";
@import "./biography-section__quote";
@import "./biography-section__quote-break";

@media screen and (max-width: 450px) {
    .biography-section {
        flex-direction: column;
        margin: 80px auto;
        position: relative;
    }
}