.biography-section__card {
    order: 2;
    max-width: 455px;
    max-height: 850px;
    padding-top: 174px;
    padding-bottom: 174px;
}

@media screen and (max-width: 450px) {
    .biography-section__card {
        order: 2;
        padding-left: 18px;
        padding-right: 9px;
        padding-top: 0;
        padding-bottom: 0;

        display: flex;
        flex-direction: column;
    }
}