.biography-section__card-separator {
    width: 15px;
    margin: 0;
    border: 3px solid black;
    margin-bottom: 18px;
}

@media screen and (max-width: 450px) {
    .biography-section__card-separator {
        display: none;
    }
}