.biography-section__name {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 114.64px;
    word-spacing: 2rem;
    margin-bottom: 36px;
}

@media screen and (max-width: 450px) {
    .biography-section__name {
        order: 4;
        font-family: Playfair Display;
        font-size: 64px;
        font-weight: 400;
        line-height: 85.31px;
        text-align: left;
        word-spacing: normal;
    }

    .biography-section__name::before {
        content: "-";
    }
}