.biography-section__quote {
    font-family: "Bitter";
    font-size: 26px;
    line-height: 31.2px;
    margin: 0;
    max-width: 370px;
}

@media screen and (max-width: 450px) {
    .biography-section__quote {
        order: 2;
        font-family: Bitter;
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        margin-bottom: 50px;
        max-width: 417px;
    }
}