.hero-section {
    background-image: url("../images/inside-weather-Uxqlfigh6oE-unsplash 1.jpg");
    background-size: 100% 100%;
    height: 630px;
    padding-top: 136px;
    box-sizing: border-box;
}

@import "./hero-section__title-box";
@import "./hero-section__title";
@import "./hero-section__subtitle";

@media screen and (max-width: 450px) {
    .hero-section {
        padding: 0;
        background-image: url("../images/inside-weather-Uxqlfigh6oE-unsplash 2.png");
        height: 763px;
    }
}