.hero-section__title-box {
    background-color: white;
    padding: 110px 65px;
    max-width: 690px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    .hero-section__title-box {
        padding: 107.5px 32px;
    }
}