.hero-section__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-align: center;
    margin-top: 14px;
}

@media screen and (max-width: 450px) {
    .hero-section__subtitle {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: center;
        margin-top: 13.5px;
    }
}